.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
data/external_scRNA/Jietal2018/*
data/external_scRNA/Wuetal2021/*
data/external_scRNA/Chou_et_al2020/*
data/external_scRNA/merged_external_scRNA.rds
data/ANT1_2.rds
output/*

